html,
body {
  margin: 0;
}

.header-container {
  display: flex;
  padding: 1rem;
  padding-bottom: 1.25rem;
  padding-left: 3rem;
  justify-content: space-between;
  border-bottom: 1px solid #d1d5db;
}

.nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

.input-search {
  height: 3rem;
  width: 20rem;
  padding: 10px;
  font-size: 1rem;
  border-width: 0;
  border-bottom: 2px solid #606061;
  outline-color: #606061;
}

.input-search:focus {
  border-style: none;
}

.img-search:hover {
  cursor: pointer;
}

/* search container styles */

.searchBooksContainer {
  margin: 3rem 2rem 0rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.book-search {
  display: grid;
}

.book-search img {
  object-fit: cover;
  width: 250px;
  border-radius: 0.125rem;
}

/* main styles */

.main-container {
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 3rem;
}

.none {
  display: none;
}

.block {
  display: block;
}

.titulo {
  margin-bottom: 1.25rem;
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: 700;
}

.booklist-container {
  display: grid;
  grid-auto-flow: column;
  gap: 1.25rem;
  overflow-x: scroll;
  overscroll-behavior-inline: contain;
  scroll-snap-type: x mandatory;
  scroll-padding-right: 1rem;
  scroll-behavior: smooth;

  padding-bottom: 1rem;
}

.book-container {
  display: grid;
  grid-auto-rows: auto;
  gap: 0.5rem;
  padding: 0.5rem;
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

.book-container:hover {
  cursor: pointer;
}

.book-container img {
  object-fit: cover;
  width: 250px;
  border-radius: 0.125rem;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.book-container p {
  font-weight: 600;
  font-size: 1.25em;
  line-height: 1.75rem;
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #cdcdcd;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #919191;
}
